<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styleFormulario.css">
</head>
<body>
    <div id="contenedorFormulario">
        <form action="" method="post">
            <label for="name">Ingresa tu nombre:</label>
            <input type="text" name="name" id="name">
            <br>
            <label for="edad">Ingresa tu edad:</label>
            <input type="text" name="edad" id="edad">
            <br>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>