<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styleInformacion.css">
</head>
<body>
    <div id="contenedorInformacion">
        <img src="-" alt="Imagen Facultad de estudios superiores aragon">
        <p>
            Inicia sus labores el 19 de enero de 1976, obedeciendo a la alta demanda de la población escolar concentrada en Ciudad Universitaria, que hizo necesario un programa de descentralización, a partir de una ubicación en las zonas de mayor demanda educativa.

            En febrero de 1974, el Consejo Universitario aprobó la realización del Programa de Descentralización de Estudios Profesionales de la UNAM, teniendo como propósito regular el crecimiento de la población escolar, redistribuir la oferta educativa y contribuir la expansión y diversificación del sistema de educación superior del país.
        </p>
    </div>
</body>
</html>